In [1]:
import pandas as pd

In [4]:
df_kunjungan = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/kunjungan_dokter_gigi_kota_x_dqlab.tsv", sep="\t")
df_kunjungan

    Bulan  Tahun  tingkat kunjungan ke dokter gigi
0       1   1996                                37
1       2   1996                                32
2       3   1996                                56
3       4   1996                                43
4       5   1996                                52
5       6   1996                                70
6       7   1996                                64
7       8   1996                                88
8       9   1996                                74
9      10   1996                                98
10     11   1996                                80
11     12   1996                                46
12      1   1997                                66
13      2   1997                                78
14      3   1997                                46
15      4   1997                                62
16      5   1997                               124
17      6   1997                               106
18      7   1997                               110
19      8   1997                                98
20      9   1997                                76
21     10   1997                               132
22     11   1997                                82
23     12   1997                                84

In [5]:
df_penjualan = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/tingkat_penjualan_kota_x_dqlab.tsv", sep="\t")
df_penjualan

,No,Bulan,Tahun,penjualan permen,penjualan sereal,penjualan buah pisang
0,1,1,1996,200661,10324,112146
1,2,2,1996,297141,13150,175417
2,3,3,1996,235586,5398,104645
3,4,4,1996,299498,7609,112283
4,5,5,1996,395824,5190,137083
5,6,6,1996,247212,14571,198130
6,7,7,1996,273899,13407,194685
7,8,8,1996,184405,8914,100091
8,9,9,1996,141211,3663,194972
9,10,10,1996,292225,14756,133166
10,11,11,1996,227864,3883,155598
11,12,12,1996,259963,5720,104563
12,13,1,1997,433783,16209,104216
13,14,2,1997,343034,5955,142908
14,15,3,1997,419255,14789,135994
15,16,4,1997,393175,11150,154659
16,17,5,1997,304954,4930,122983
17,18,6,1997,439380,15041,104657
18,19,7,1997,270706,14210,163008
19,20,8,1997,319472,5002,149116
20,21,9,1997,262688,3172,144727
21,22,10,1997,322140,9818,148500
22,23,11,1997,467572,13545,120676
23,24,12,1997,431484,2372,162135

In [7]:
str_bulan = lambda x: "0"+str(x) if x<10 else str(x)
df_kunjungan["Periode"] = df_kunjungan["Tahun"].map(str) + "-" + df_kunjungan["Bulan"].map(str_bulan)
df_penjualan["Periode"] = df_penjualan["Tahun"].map(str) + "-" + df_penjualan["Bulan"].map(str_bulan)

In [8]:
df_kunjungan.drop(columns=["Tahun", "Bulan"], inplace=True)
df_penjualan.drop(columns=["Tahun", "Bulan", "No"], inplace=True)

In [9]:
df_kunjungan.set_index("Periode", inplace=True)
df_penjualan.set_index("Periode", inplace=True)

In [10]:
df = df_kunjungan.join(df_penjualan)

In [11]:
import numpy as np
from scipy import stats

In [12]:
x = df["penjualan permen"][:-4].to_numpy()
y = df["tingkat kunjungan ke dokter gigi"][4:].to_numpy()

In [13]:
print("Penggunaan numpy.polyfit:")
np_out = np.polyfit(x, y, 1)
print("  Persamaan regresi linier: y = %.4e * x + %.4f\n" % (np_out[0], np_out[1]))

Penggunaan numpy.polyfit:
  Persamaan regresi linier: y = 2.3035e-04 * x + 12.9341

In [14]:
print("Penggunaan stats.linregress dari scipy:")
sclr_out = stats.linregress(x, y)
print("  Persamaan regresi linier: y = %.4e * x + %.4f\n" % (sclr_out.slope, sclr_out.intercept))

Penggunaan stats.linregress dari scipy:
  Persamaan regresi linier: y = 2.3035e-04 * x + 12.9341

In [15]:
x_new = df["penjualan permen"][-4:].to_numpy()

In [16]:
y_pred = sclr_out.slope * x_new + sclr_out.intercept

In [17]:
print("Prediksi tingkat kunjungan ke dokter gigi 1998-01 s/d 1998-04:")
for i, kunjungan in enumerate(y_pred):
    print("1998-0%d: %4d kunjungan." % (i+1, round(kunjungan)))

Prediksi tingkat kunjungan ke dokter gigi 1998-01 s/d 1998-04:
1998-01:   73 kunjungan.
1998-02:   87 kunjungan.
1998-03:  121 kunjungan.
1998-04:  112 kunjungan.